[Unit]
Description=JSON Parser
After=multi-user.target

[Service]
Restart=on-failure
RestartSec=5
ExecStart= /bin/python3 /home/pi/dev-db/index.py

[Install]
WantedBy=multi-user.target